<IfModule mod_rewrite.c>
RewriteEngine On

# Laravel routes
RewriteCond %{REQUEST_URI} ^/api/ [OR]
RewriteCond %{REQUEST_URI} ^/storage/ [OR]
RewriteCond %{REQUEST_URI} ^/admin/
RewriteRule ^(.*)$ public/$1 [L]

# Fix root path explicitly
RewriteRule ^$ http://127.0.0.1:3000/ [P,L]

# All other Next.js routes
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ http://127.0.0.1:3000/$1 [P,L]
</IfModule>