@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #0F172A;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  
  /* Adding colors from the frontend's tailwind config if needed */
  --color-primary: #3cc0c2;
  --color-secondary: #f43f5e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), ui-sans-serif, system-ui;
}
